@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 900; 
    font-style: italic; 
    src: url('./fonts/SFProDisplay-BlackItalic.ttf') format('truetype');
  }